@model Inventory.LunarMed.Web.Models.CollectionViewModel

@if (Model.CollectionId == 0)
{
    <h2>Add New Collection</h2>
}
else
{
    <h2>Edit Collection</h2>
}

@using (Html.BeginForm("Create", "Collection", FormMethod.Post, new { @class = "form-horizontal row-fluid" }))
{
    <div class="control-group">
        <label class="control-label" for="basicinput">Sales Invoice</label>
        <div class="controls">
            @Html.DropDownListFor(model => model.SalesInvoice, Model.SalesInvoiceList, new { @class = "span8" })
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="basicinput">Check Number</label>
        <div class="controls">
            @Html.TextBoxFor(model => model.CheckNumber, new { @class = "span8", required = "required" })
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="basicinput">Balance</label>
        <div class="controls">
            @Html.TextBoxFor(model => model.Balance, "{0:n2}", new { @class = "span8", required = "required", @readonly = "readonly" })
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="basicinput">Amount</label>
        <div class="controls">
            @Html.TextBoxFor(model => model.Amount, "{0:n2}", new { @class = "span8", required = "required" })
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="basicinput">Complete Payment</label>
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" value="" id="IsGovTax">
            </label>
        </div>
    </div>

    @Html.HiddenFor(model => model.CollectionId);
    <div class="control-group">
        <div class="controls control-submit">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
}


<script type="text/javascript">

    $('#IsGovTax').click(function () {
        if ($('#IsGovTax').is(':checked')) {
            $('#Balance').val('0.00');
        } else {
            $('#Amount').val('0.00');
        }
    });

    // The form submit event
    $('form').submit(function (e) {
        e.preventDefault();

        var url;
        if ($('#CollectionId').val() == "0")
            url = this.action;
        else
            url = "Collection/Edit";

        var obj = {
            CollectionId: $('#CollectionId').val(),
            CheckNumber: $('#CheckNumber').val(),
            Amount: $('#Amount').val(),
            Balance: $('#Balance').val(),
            SalesInvoice: $('#SalesInvoice').val(),
            IsGovTax: ($('#IsGovTax').is(':checked') ? 1 : 0)
        };

        $.ajax({
            url: url,
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(obj),
            success: function (result) {
                $('#divMessages').html(result);
                loadData();
                $('#modalContainer').modal('hide');
            }
        });
    });

</script>



