@using Inventory.LunarMed.Web.Models;
@model OrderViewModel
@{

    ViewBag.Title = "Place Order - " + (Model.Type == "client" ? "Client" : "Supplier");
}

<div class="span9">
    <div class="content">
         @Html.Partial("_ViewMessageList", Model.Messages)
        <div class="module message">
            <div class="module-head">
                <h3>Order Information - @(Model.Type == "client" ? "Client" : "Supplier")</h3>
            </div>
            <div class="module-option clearfix">
                <div class="form-row">
                    <div class="col-half">
                        <select tabindex="1" data-placeholder="Select.." class="span4" id="ddlClientId">
                            <option value="">Select..</option>
                            @foreach (var client in Model.ClientsList)
                            {
                                <option value="@client.Value">@client.Text</option>
                            }
                        </select>
                    </div>
                    <div class="col-half">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-half">
                        <label for="basicinput">Sales Invoice</label>
                        <div class="controls">
                            <input type="text" id="txtSalesInvoice" class="span4" value="@Model.SalesInvoice">
                        </div>
                    </div>
                    <div class="col-half">
                        <label for="basicinput">Due Date</label>
                        <div class="controls">
                            <input type="text" id="txtDueDate" class="span3"  value="@Model.DueDate">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-half">
                        <label for="basicinput">Remarks</label>
                        <div class="controls">
                            <textarea id="txtRemarks" class="span4" rows="5">@Model.Remarks</textarea>
                        </div>
                    </div>
                    <div class="col-half">
                        <label for="basicinput">Terms (Days)</label>
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on">#</span><input id="txtTerms" class="span1" type="text" value="@Model.Terms">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="module-foot overflow-hidden padding-10">
                <div class="pull-right">
                    <a href="#" class="btn btn-primary btn-submit-order">Purchase</a>
                </div>
            </div>
        </div>

        <div class="module message">
            <div class="module-head">
                <h3>
                    Order Details
                </h3>
            </div>
            <div class="module-option clearfix">
                <div class="pull-left">
                    <input type="text" id="txtSearchProduct" class="span4" placeholder="Search Product.." />
                    <div class="input-prepend pull-right margin-left-15">
                        <span class="add-on">Quantity</span><input id="txtQuantity" class="span1" type="text" value="1" />
                    </div>
                    <input type="hidden" id="hfStockId" />
                    <input type="hidden" id="hfStockLeft" />
                    <input type="hidden" id="hfUnitSize" />
                    <input type="hidden" id="hfSellingPrice" />
                    <input type="hidden" id="hfType" value="@(Model.Type == "client" ? "C" : "S")" />
                </div>
                <div class="pull-right">
                    <a href="#" class="btn btn-primary btn-add-product">Add Product</a>
                </div>
            </div>
            <div class="module-body table">
                <table class="table table-message">
                    <tbody>
                        <tr class="heading">
                            <td class="cell-check"></td>
                            <td class="cell-title">
                                Product Name
                            </td>
                            <td class="cell-title">
                                Unit Size
                            </td>
                            <td class="cell-author align-center">
                                Quantity
                            </td>
                            <td class="cell-time">
                                Cost
                            </td>
                            <td class="cell-time align-right">
                                Total
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="module-foot">
                <div class="pull-right table-summary">
                    <span class="total">0.00</span>
                </div>
            </div>
        </div>
    </div><!--/.content-->
</div><!--/.span9-->

<div id="modalContainer" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <div class="control-group">
                    <div class="controls">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

        $("#txtDueDate").datepicker();

        // Initialize Auto-Complete
        $("#txtSearchProduct").autocomplete({
            source: function (request, response) {
                var products = new Array();
                $.ajax({
                    async: false,
                    cache: false,
                    url: "@(Url.Action("GetProducts", "Order"))",
                    type: 'GET',
                    data: { "wildcard": $("#txtSearchProduct").val() },      
                    dataType: 'json',
                    success: function (data) {
                        for (var i = 0; i < data.length ; i++) {
                            products[i] = { label: data[i].Value, Id: data[i].Key };
                        }
                     }
                });
                response(products);
            },
            minLength: 2,
            select: function (event, ui) {
                $.ajax({
                    cache: false,
                    async: false,
                    type: 'GET',
                    dataType: 'json',
                    url: "@(Url.Action("GetProductDetails", "Order"))",
                    data: { "id": ui.item.Id },                    
                    success: function (data) {     
                        console.log(data);
                        $("#hfStockId").val(data.StockId);
                        $("#hfStockLeft").val(data.StockQuantity);
                        $("#hfUnitSize").val(data.UnitSizeName);
                        $("#hfSellingPrice").val(data.SRP);

                        //if (data.StockQuantity == "0") {
                        //    displayModalMessage("Selected product is currently out of stock.");
                        //}
                    }
                });
            }
        }).autocomplete('enable'); 

        // Add Product Button click event
        $('.btn-add-product').on('click', function () {
            if ($("#hfProductId").val() == "") {
                displayModalMessage("Please search for a product.");
                return;
            }

            //if (parseInt($("#hfStockLeft").val()) < parseInt($('#txtQuantity').val())) {
            //    $('#txtQuantity').val($("#hfStockLeft").val());
            //    displayModalMessage("Quantity is greater than the current stock.");
            //    return;
            //}

            var name = $("#txtSearchProduct").val().split("(");
            var totalCost = Number((parseFloat($("#hfSellingPrice").val()) * parseFloat($("#txtQuantity").val()))).toFixed(2);
            $('table.table-message tbody').append(
                '<tr class="unread">'
                + '<td class="cell-icon"><a href="#" class="remove-product"><i class="icon-remove"></i></a><input type="hidden" value="' + $("#hfStockId").val() + '" /></td>'
                + '<td class="cell-title">' + $.trim(name[0]) + '</td>'
                + '<td class="cell-author">' + $("#hfUnitSize").val() + '</td>'
                + '<td class="cell-time align-center">' + $("#txtQuantity").val() + '</td>'
                + '<td class="cell-time">' + Number($("#hfSellingPrice").val()).toFixed(2) + '</td>'
                + '<td class="cell-time align-right"">' + totalCost + '</td>'
                + '</tr>'
            );

            $("#hfStockId").val('');
            $("#txtSearchProduct").val('');
            $("#txtSearchProduct").focus();
            $("#txtQuantity").val('1');

            computeTotal(parseFloat(totalCost));
        });

        $('.btn-submit-order').on('click', function () {

            orderDetailsObj = [];
            $('.table-message tbody tr:not(:first)').each(function () {
                orderDetails = {};
                orderDetails['StockId'] = $(this).children('td:first').find('input').val();
                orderDetails['Quantity'] = $(this).children('td:nth-child(4)').text();
                orderDetailsObj.push(orderDetails);
            });
            console.log(orderDetailsObj);
            var data = JSON.stringify({
                ClientId: $('#ddlClientId').val(),
                Terms: $('#txtTerms').val(),
                DueDate: $('#txtDueDate').val(),
                Remarks: $('#txtRemarks').val(),
                SalesInvoice: $('#txtSalesInvoice').val(),
                Type: $('#hfType').val(),
                OrderDetails: orderDetailsObj
            });
            $.ajax({
                url: "@(Url.Action("Create", "Order"))",
                data: data,
                contentType: "application/json;charset=utf-8",
                type: "POST",
                success: function (result) {
                    $('#divMessages').html(result);
                }
            });
        });

        $('body').on('click', '.remove-product', function (e) {
            var cost = $(this).parent().parent().children('td:last').text();
            $(this).parent().parent().remove();

            computeTotal(parseFloat(-cost));
        });

        function computeTotal(cost) {
            var sum = Number(parseFloat($('.total').text()) + cost).toFixed(2);
            $('.total').text(sum);
        }

    </script>

}