@using Inventory.LunarMed.Web.Models;
@model ListOrdersViewModel
@{
    ViewBag.Title = "Orders List";
}


<div class="span9">
    <div class="content">
        @Html.Partial("_ViewMessageList", Model.Messages)
        <div class="module">
            <div class="module-head overflow-hidden">
                <h3 class="pull-left">
                    Orders
                </h3>
                <div class="pull-right">
                    <a class="btn btn-small btn-info" href="@Url.Action("Index", "Order", new { type = Request.Params["type"]})">Place Order</a>
                </div>
            </div>
            <div class="module-body table">
                @Html.Partial("_ListOrders", Model.Orders)
            </div>
        </div>
        <!--/.module-->
    </div>
    <!--/.content-->
</div>
<!--/.span9-->

<div id="modalContainer" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <div class="control-group">
                    <div class="controls">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts 
{
    
    <script type="text/javascript">

        var type = "@Request.Params["type"]";
        if (type == "supplier") {
            $('#order-supplier').addClass('active');
        } else {
            $('#order-client').addClass('active');
        }

        loadList();

        function loadList() {
            $('.datatable-1').dataTable({
                aaSorting: [[0, 'desc']]
            });
            $('.dataTables_paginate').addClass('btn-group datatable-pagination');
            $('.dataTables_paginate > a').wrapInner('<span />');
            $('.dataTables_paginate > a:first-child').append('<i class="icon-chevron-left shaded"></i>');
            $('.dataTables_paginate > a:last-child').append('<i class="icon-chevron-right shaded"></i>');
        }

        // More details click event
        $('.module-body').on('click', '.more-details', function (e) {
            var id = $(this).parent().parent().children('td:first').text();

            var url = "/Order/GetDetails/" + id; // Full URL

            /* Cleanup */
            cleanModal();

            $('.modal-dialog').css('height', '510px');
            $('.modal-body').css('height', '400px');

            /* Close popups on click elsewhere */
            /* Source: http://stackoverflow.com/a/14857326/364 */
            $('body').on('click', function (e) {
                var popovers = [$('#btn-modal-share')];
                $.each(popovers, function () {
                    //the 'is' for buttons that trigger popups
                    //the 'has' for icons within a button that triggers a popup
                    if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                        $(this).popover('hide');
                    }
                });
            });

            $.ajax({
                url: url,
                type: "GET",
                success: function (result) {
                    result = '<div>' + result + '</div>';
                    $('.modal-title').html($(result).find('h2').html());
                    $('.modal-body').html(result);
                    $('.modal-body').find('h2').remove();
                    $('#modalContainer').modal();
                }
            });

            e.preventDefault();
        });



        // This event acts like the Confirmation message for the Delete Operation
        $('body').on('click', '.delete-order-conf', function (e) {
            // Cleanup
            cleanModal();

            $('.modal-dialog').css('height', '');
            $('.modal-body').css('height', '');

            // Display the Confirmation Message with its contents
            $('.modal-title').html('Delete Order Confirmation');

            var id = $(this).parent().parent().children('td:first').text();
            var name = $(this).parent().parent().children('td:nth-child(3)').text();
            $('.modal-body').append('<h5>Are you sure you want to delete this order?</h5><br /><b>Sales Invoice</b>: ' + name);
            $('.modal-body').append('<input type="hidden" id="hfOrderId" value="' + id + '" />');
            $('.modal-footer').append('<button type="button" class="btn btn-info delete-order">Delete</button>');
            $('#modalContainer').modal();
        });

        // This is the delete client click event and calls the ajax service to delete the product
        $('body').on('click', '.delete-order', function (e) {
            var url = "/Order/Delete"; // Full URL
            var data = JSON.stringify({ id: $('#hfOrderId').val() });

            $.ajax({
                url: url,
                data: data,
                contentType: "application/json;charset=utf-8",
                type: "POST",
                success: function (result) {
                    $('#divMessages').html(result);
                    $('#modalContainer').modal('hide');

                    if (type == "client") {
                        window.location.replace("@(Url.Action("List", "Order", new { type = "client" }))");
                    } else {
                        window.location.replace("@(Url.Action("List", "Order", new { type = "supplier" }))");
                    }
                }
            });
        });

    </script>

}