<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LunarMed</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @{ Html.RenderPartial("_Nav"); }
    @{
        string CurrentURL = Request.Url.AbsoluteUri;
    }

    <div class="wrapper">
        <div class="container">
            @{
                if (!@CurrentURL.Contains("Login") && !@CurrentURL.Contains("Register"))
                {
                    Html.RenderPartial("_Sidebar");
                }
            }
            @RenderBody()
        </div>
    </div>
    @*@if (Request.IsAuthenticated)
        {
            @:<div class="wrapper">
                @:<div class="container">
            Html.RenderPartial("_Sidebar");
        }*@
    <!--/.body-->
    @*@RenderBody()*@

    @*@if (Request.IsAuthenticated)
        {
                @:</div>
            @:</div>
        }*@
    <!--/.wrapper-->
    @{ Html.RenderPartial("_Footer"); }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/common")
    @RenderSection("scripts", required: false)


    @{
        List<string> sidebarList = new List<string>(new string[] { "Client", "UnitSize", "Brand", "Generic", "ProductGroup", "Account" });
        var currentController = @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    }

    <script type="text/javascript">

        @if (sidebarList.Any(i => i.EndsWith(currentController)))
        {
            <text>
                $('.collapse').collapse();
            </text>
        }

    </script>

</body>
</html>
