@model Inventory.LunarMed.Web.Models.ProductViewModel
@if (Model.ProductId == 0)
{
    <h2>Add New Product</h2>
}
else
{
    <h2>Edit Product</h2>
}

@using (Html.BeginForm("Create", "Product", FormMethod.Post, new { @class = "form-horizontal row-fluid" }))
{
    <div class="control-group">
        <label class="control-label" for="basicinput">Name</label>
        <div class="controls">
            @Html.TextBoxFor(model => model.Name, new { @class = "span8", required = "required" })
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="basicinput">Batch Number</label>
        <div class="controls">
            @Html.TextBoxFor(model => model.BatchNumber, new { @class = "span8", required = "required" })
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="basicinput">Selling Price</label>
        <div class="controls">
            @Html.TextBoxFor(model => model.SellingPrice, "{0:n2}", new { @class = "span8", required = "required" })
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="basicinput">Cost</label>
        <div class="controls">
            @Html.TextBoxFor(model => model.Cost, "{0:n2}", new { @class = "span8", required = "required" })
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="basicinput">Mark Up</label>
        <div class="controls">
            @Html.TextBoxFor(model => model.MarkUp, new { @class = "span8", required = "required" })
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="basicinput">Stock Quantity</label>
        <div class="controls">
            @Html.TextBoxFor(model => model.StockQuantity, new { @class = "span8", required = "required" })
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="basicinput">Expiration Date</label>
        <div class="controls">
            @Html.TextBoxFor(model => model.ExpirationDate, new { @class = "span8 clsDatePicker", id = "expirateDate" })
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="basicinput">Unit Size</label>
        <div class="controls">
            @Html.DropDownListFor(model => model.UnitSizeId, Model.UnitSizeList, new { @class = "span8" })
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="basicinput">Supplier</label>
        <div class="controls">
            @Html.TextBoxFor(model => model.Supplier, new { @class = "span8", required = "required" })
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="basicinput">Purchase Date</label>
        <div class="controls">
            @Html.TextBoxFor(model => model.PurchaseDate, new { @class = "span8 clsDatePicker", id = "purchaseDate" })
        </div>
    </div>

    @Html.HiddenFor(model => model.ProductId);
    <div class="control-group">
        <div class="controls control-submit">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
}


<script type="text/javascript">

    // The form submit event
    $('form').submit(function (e) {
        e.preventDefault();

        var url;
        if ($('#ProductId').val() == "0")
            url = this.action;
        else
            url = "Product/Edit";

        var obj = {
            ProductId: $('#ProductId').val(),
            Name: $('#Name').val(),
            BatchNumber: $('#BatchNumber').val(),
            Cost: $('#Cost').val(),
            SellingPrice: $('#SellingPrice').val(),
            MarkUp: $('#MarkUp').val(),
            StockQuantity: $('#StockQuantity').val(),
            ExpirationDate: $('#expirateDate').val(),
            UnitSizeId: $('#UnitSizeId').val(),
            Supplier: $('#Supplier').val(),
            PurchaseDate: $('#purchaseDate').val()
        };

        $.ajax({
            url: url,
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(obj),
            success: function (result) {
                $('#divMessages').html(result);
                loadData();
                $('#modalContainer').modal('hide');
            }
        });
    });

</script>




