@using Inventory.LunarMed.Web.Models;
@model List<ProductViewModel>

<table cellpadding="0" cellspacing="0" border="0" class="datatable-1 table table-bordered table-striped	display">
    <thead>
        <tr>
            <th>
                Product ID
            </th>
            <th>
                Name
            </th>
            <th>
                Batch Number
            </th>
            <th>
                Selling Price
            </th>
            <th>
                Quantity Left
            </th>
            <th>
                Unit Size
            </th>
            <th>
                Expiration Date
            </th>
            <th>
                Supplier
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr class="@((item.ProductId % 2) == 1 ? "odd" : "even")">
            <td>@Html.DisplayFor(modelItem => item.ProductId)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.BatchNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.SellingPrice)</td>
            <td>@Html.DisplayFor(modelItem => item.StockQuantity)</td>
            <td>@Html.DisplayFor(modelItem => item.UnitSizeName)</td>
            <td>@Html.DisplayFor(modelItem => item.ExpirationDate)</td>
            <td>@Html.DisplayFor(modelItem => item.Supplier)</td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>
                Product ID
            </th>
            <th>
                Name
            </th>
            <th>
                Batch Number
            </th>
            <th>
                Selling Price
            </th>
            <th>
                Quantity Left
            </th>
            <th>
                Unit Size
            </th>
            <th>
                Expiration Date
            </th>
            <th>
                Supplier
            </th>
        </tr>
    </tfoot>
</table>
